# Module 2, Section 2: Preparing Data for Visualisation with Pandas

The example data we loaded in the previous section is a tabular dataset provided in the format of a pandas dataframe.

Let's have a look at how we can import this type of data from a csv, and what we can do with it in this format.
See https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html for more quick references.

In [6]:
# importing data from csv
df2 = pd.read_csv("data/taxis.csv")

#lets see the column names and the first 10 rows of data to check it out
df2.head(10)

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,23/03/2019 20:21,23/03/2019 20:27,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,3/4/2019 16:11,3/4/2019 16:19,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,27/03/2019 17:53,27/03/2019 18:00,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,3/10/2019 1:23,3/10/2019 1:49,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,30/03/2019 13:27,30/03/2019 13:37,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
5,3/11/2019 10:37,3/11/2019 10:47,1,0.49,7.5,2.16,0.0,12.96,yellow,credit card,Times Sq/Theatre District,Midtown East,Manhattan,Manhattan
6,26/03/2019 21:07,26/03/2019 21:17,1,3.65,13.0,2.00,0.0,18.80,yellow,credit card,Battery Park City,Two Bridges/Seward Park,Manhattan,Manhattan
7,22/03/2019 12:47,22/03/2019 12:58,0,1.40,8.5,0.00,0.0,11.80,yellow,NaN,Murray Hill,Flatiron,Manhattan,Manhattan
8,23/03/2019 11:48,23/03/2019 12:06,1,3.63,15.0,1.00,0.0,19.30,yellow,credit card,East Harlem South,Midtown Center,Manhattan,Manhattan
9,3/8/2019 16:18,3/8/2019 16:26,1,1.52,8.0,1.00,0.0,13.30,yellow,credit card,Lincoln Square East,Central Park,Manhattan,Manhattan

Let's also have a look at the types of data that we're working with in this dataset:

In [7]:
df2.dtypes

pickup              object
dropoff             object
passengers           int64
distance           float64
fare               float64
tip                float64
tolls              float64
total              float64
color               object
payment             object
pickup_zone         object
dropoff_zone        object
pickup_borough      object
dropoff_borough     object
dtype: object

"Object" typically means the variable elements are strings. Usually things that can't be encoded numerically 
are represented as objects.

"int64" are integers (e.g., -1,0,1,2,3,...) and "float64" are Real numbers (e.g., -1, 1.21, 1000.689, ...).

Note that the pickup and dropoff times are listed as objects, but we know these are dates. We can get Python to see them as dates by converting them to "datetime" format:

In [8]:
df2["pickup"] = pd.to_datetime(df2["pickup"]) #you'll see we are overwriting the existing column with new data
df2["dropoff"] = pd.to_datetime(df2["dropoff"])
df2.dtypes
#be aware pd.to_datetime may not always infer the correct datetime format, you may have to specify it manually
#see https://pandas.pydata.org/docs/reference/api/pandas.to_datetime.html#pandas.to_datetime for more information

pickup             datetime64[ns]
dropoff            datetime64[ns]
passengers                  int64
distance                  float64
fare                      float64
tip                       float64
tolls                     float64
total                     float64
color                      object
payment                    object
pickup_zone                object
dropoff_zone               object
pickup_borough             object
dropoff_borough            object
dtype: object

Note how we called variables - by using their column names. This is one of many extremely useful things we can do with Pandas dataframes.

If we wanted to look again at the data, we will see no change to the table. But, now we can perform arithmetic with the pickup and dropoff times.

In [9]:
#if we look again at the data we will see no change to the table, but we can now perform datetime artihmetic when needed
df2.head()

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:00,2019-03-23 20:27:00,1,1.60,7.0,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:00,2019-03-04 16:19:00,1,0.79,5.0,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:00,2019-03-27 18:00:00,1,1.37,7.5,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:00,2019-03-10 01:49:00,1,7.70,27.0,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:00,2019-03-30 13:37:00,3,2.16,9.0,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan

## Indexing and Slicing
We may not always want to use the whole data, but just a subset. Let's start by looking at indexing and slicing using [], iloc and loc (for more help see: https://pandas.pydata.org/docs/user_guide/indexing.html).  

#### By Row
***df2[5:6]*** returns row index 5 or the 6th row (remember counting starts from 0, and we don't include the end value)  
***df2[:5]*** is the same as ***df2[0:5]*** and goes from the 0th row to the 4th row  
***df2[6000:-100]*** goes from row 6000 to the 100th last row  
***df2[-60:-50]*** starts at the 60th last row and goes to the 50th last row  


***df2[::5]*** you can even do every nth element. Here, n = 5.
***df2[10:50:5]*** or every nth element between a and b. Here, a = 10, b = 50 and n = 5  
***df2[10::-1]*** use -1 (or any neg number) to go backwards  


Give it a go in the next cell!

In [10]:
df2[50:30:-2] # Can you summarise what this example command is doing in a sentence?

# Now you try.

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
50,2019-03-16 16:36:00,2019-03-16 16:54:00,2,1.00,11.5,0.00,0.0,14.80,yellow,cash,Clinton East,Penn Station/Madison Sq West,Manhattan,Manhattan
48,2019-03-07 16:49:00,2019-03-07 16:57:00,1,1.30,7.0,0.00,0.0,11.30,yellow,cash,Lincoln Square East,Times Sq/Theatre District,Manhattan,Manhattan
46,2019-03-20 11:40:00,2019-03-20 12:06:00,2,4.70,20.0,0.00,0.0,23.30,yellow,cash,Times Sq/Theatre District,Battery Park City,Manhattan,Manhattan
44,2019-03-14 07:19:00,2019-03-14 07:45:00,1,9.37,29.5,1.00,0.0,33.80,yellow,credit card,East Harlem South,Battery Park City,Manhattan,Manhattan
42,2019-03-30 23:59:00,2019-03-30 23:59:00,1,0.00,80.0,20.08,0.0,100.38,yellow,credit card,NaN,NaN,NaN,NaN
40,2019-03-07 15:15:00,2019-03-07 15:50:00,1,7.51,27.0,6.06,0.0,36.36,yellow,credit card,Flatiron,Carroll Gardens,Manhattan,Brooklyn
38,2019-03-18 16:03:00,2019-03-18 16:10:00,2,1.13,6.5,2.16,0.0,12.96,yellow,credit card,Gramercy,Murray Hill,Manhattan,Manhattan
36,2019-03-22 17:28:00,2019-03-22 17:33:00,1,1.10,5.5,0.00,0.0,9.80,yellow,cash,Garment District,Flatiron,Manhattan,Manhattan
34,2019-03-21 10:48:00,2019-03-21 10:57:00,2,0.87,7.5,2.16,0.0,12.96,yellow,credit card,Midtown North,Clinton West,Manhattan,Manhattan
32,2019-03-17 19:24:00,2019-03-17 19:29:00,1,0.62,5.5,1.00,0.0,9.80,yellow,credit card,Midtown Center,Sutton Place/Turtle Bay North,Manhattan,Manhattan

#### By Column
Now let's try indexing by columns names:\
To index by column names, we need to enclose them in square brackets:\
***df2[["passengers"]]*** returns the named column as a Pandas dataframe. 

But,if we don't enclose the column name/s in square brackets, Python will return a data series that is no longer a Pandas dataframe: 
***df2["passengers"]*** 

Indexing multiple columns is easy. For example, if we wanted to select "pickup" and "dropoff":\
***df2[["pickup","dropoff"]]*** Returns multiple named columns as a dataframe

In [11]:
#Give it a go
df2[["passengers"]]

      passengers
0              1
1              1
2              1
3              1
4              3
...          ...
6428           1
6429           1
6430           1
6431           1
6432           1

[6433 rows x 1 columns]

#### By Column and Row
What about columns and rows together? Well it depends on how you want to identify the columns and rows, by index or by label. This brings us to using loc and iloc.

The *i* in iloc stands for integer location, therefore;  
If you want to use index values to specify rows and columns, you should use iloc like so:    
examples: ***df2.iloc[0:10,3:5]*** 

If you want to use labels to specify rows and/or columns then you should use loc like so:  
***df2.loc[0:10,["distance","fare"]]*** 

Alternatively, we can use [] notation:  
***df2[0:10][["distance","fare"]]***  

How does using [], iloc and loc differ?  

Here, [] and iloc produce the same result, but we notice that loc includes 'row 10' (the 11th row, remember Python indexes from 0). This is because when using label slicing, iloc treats the values as labels and includes every label, including the upper bound of the range. This is unlike when using index based slicing which does not include the upper bound. In other words, indexing with loc is more intuitive.

Try out some different examples below to see how they differ.

#### Special case
Can we index columns by position without first specifying which rows?  
Yes, but you must use **iloc** function like so ***df2.iloc[:,3:5]*** or ***df2.iloc[:,[3,4]]*** . This specifys returning all rows, within a range or selection of columns.

### Exercises
What happens when you execute:\
df2.iloc[0:10,3:5]\
df2.loc[0:10,["distance","fare"]]\
df2[0:10][["distance","fare"]]\
df2.iloc[0:5]\
df2.loc[0:5]

What happens when you call:\
df2.iloc[0:4, 1:4]\
df2.loc[0:4, 1:4]\
How are the two commands different?\

## Querys
Queries are another way to segment out parts of your dataframe, but rather than slicing based on columns and rows, you can retrieve information based on values of data within the dataframe itself.   
  
This might include returning rows in which a particular cell is above, below or between a range of values (numeric or datetime), or simply matches a prescribed value (any data type). We can use the syntax below when querying data by criteria from a DataFrame. Experiment with selecting various subsets of the “df2” data.

Equals: ==\
Not equals: !=\
Greater than, less than: > or <\
Greater than or equal to >=\
Less than or equal to <=\
  
See https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.query.html for more information

For example, let's try returning only rows where the fare was above $20. Here, I'm going to call this subset "fare20":

In [13]:
fare20 = df2.query("fare>20")
fare20

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
3,2019-03-10 01:23:00,2019-03-10 01:49:00,1,7.70,27.00,6.15,0.00,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
22,2019-03-28 17:20:00,2019-03-28 17:55:00,1,9.82,31.50,8.31,5.76,49.87,yellow,credit card,LaGuardia Airport,Sutton Place/Turtle Bay North,Queens,Manhattan
37,2019-03-21 18:41:00,2019-03-21 19:15:00,1,3.13,20.50,0.00,0.00,24.80,yellow,cash,Lenox Hill East,Garment District,Manhattan,Manhattan
40,2019-03-07 15:15:00,2019-03-07 15:50:00,1,7.51,27.00,6.06,0.00,36.36,yellow,credit card,Flatiron,Carroll Gardens,Manhattan,Brooklyn
42,2019-03-30 23:59:00,2019-03-30 23:59:00,1,0.00,80.00,20.08,0.00,100.38,yellow,credit card,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6416,2019-03-19 17:27:00,2019-03-19 18:41:00,1,7.93,21.08,0.00,0.00,21.88,green,credit card,Bushwick South,Marine Park/Mill Basin,Brooklyn,Brooklyn
6417,2019-03-10 12:10:00,2019-03-10 12:43:00,2,11.17,35.00,0.00,5.76,41.56,green,credit card,Hillcrest/Pomonok,Flatiron,Queens,Manhattan
6421,2019-03-24 09:07:00,2019-03-24 09:36:00,6,10.23,33.00,0.00,0.00,33.80,green,credit card,East Flatbush/Farragut,South Ozone Park,Brooklyn,Queens
6425,2019-03-07 15:34:00,2019-03-07 16:31:00,1,9.12,26.32,0.00,0.00,26.82,green,credit card,Park Slope,East New York,Brooklyn,Brooklyn
6429,2019-03-31 17:38:00,2019-03-31 18:34:00,1,18.74,58.00,0.00,0.00,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx

We can see this query worked, since the minimum fare in fare20 is greater than 20:

In [14]:
fare20.fare.describe()

count    951.000000
mean      35.394711
std       14.958650
min       20.160000
25%       24.500000
50%       31.000000
75%       42.935000
max      150.000000
Name: fare, dtype: float64

Let's try a more complicated query. What if we wanted to only explore trips that were between 1 and 5 miles, with a fare greater than $20? We can use '&', which allows us to select data that satisfies both conditions.

In [15]:
df2.query("fare > 20 & 1 <= distance <=  5")

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
37,2019-03-21 18:41:00,2019-03-21 19:15:00,1,3.13,20.50,0.00,0.0,24.80,yellow,cash,Lenox Hill East,Garment District,Manhattan,Manhattan
272,2019-03-27 14:41:00,2019-03-27 15:20:00,4,3.03,23.00,5.26,0.0,31.56,yellow,credit card,Central Park,Greenwich Village North,Manhattan,Manhattan
370,2019-03-07 19:16:00,2019-03-07 19:44:00,1,4.40,20.50,0.00,0.0,22.30,yellow,credit card,East Chelsea,TriBeCa/Civic Center,Manhattan,Manhattan
533,2019-03-14 13:28:00,2019-03-14 14:01:00,1,2.80,21.00,6.05,0.0,30.35,yellow,credit card,Upper West Side South,Penn Station/Madison Sq West,Manhattan,Manhattan
534,2019-03-12 09:17:00,2019-03-12 09:55:00,1,4.40,24.50,2.50,0.0,30.30,yellow,credit card,Upper West Side North,Midtown South,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6098,2019-03-14 14:25:00,2019-03-14 15:14:00,1,3.38,28.16,0.00,0.0,28.66,green,credit card,Sunset Park West,Bushwick South,Brooklyn,Brooklyn
6120,2019-03-06 13:45:00,2019-03-06 14:17:00,1,4.69,22.00,0.00,0.0,22.80,green,credit card,Co-Op City,Mount Hope,Bronx,Bronx
6228,2019-03-25 16:06:00,2019-03-25 16:37:00,2,4.50,21.50,0.00,0.0,23.30,green,credit card,East Tremont,Williamsbridge/Olinville,Bronx,Bronx
6246,2019-03-01 18:25:00,2019-03-01 19:01:00,1,4.10,22.50,4.85,0.0,29.15,green,credit card,Downtown Brooklyn/MetroTech,Bushwick North,Brooklyn,Brooklyn
6278,2019-03-05 08:36:00,2019-03-05 09:07:00,1,3.86,21.00,0.00,0.0,21.80,green,cash,Central Harlem,Melrose South,Manhattan,Bronx

In [16]:
Alternatively, if we wanted to explore trips with a fare greater than $20 or less than $10, we can use "|", 
which allows us to select data that satisfies at least one of those conditions.

SyntaxError: invalid syntax (57940085.py, line 1)

In [17]:
df2.query("fare > 20 | fare < 10")

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
0,2019-03-23 20:21:00,2019-03-23 20:27:00,1,1.60,7.00,2.15,0.0,12.95,yellow,credit card,Lenox Hill West,UN/Turtle Bay South,Manhattan,Manhattan
1,2019-03-04 16:11:00,2019-03-04 16:19:00,1,0.79,5.00,0.00,0.0,9.30,yellow,cash,Upper West Side South,Upper West Side South,Manhattan,Manhattan
2,2019-03-27 17:53:00,2019-03-27 18:00:00,1,1.37,7.50,2.36,0.0,14.16,yellow,credit card,Alphabet City,West Village,Manhattan,Manhattan
3,2019-03-10 01:23:00,2019-03-10 01:49:00,1,7.70,27.00,6.15,0.0,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
4,2019-03-30 13:27:00,2019-03-30 13:37:00,3,2.16,9.00,1.10,0.0,13.40,yellow,credit card,Midtown East,Yorkville West,Manhattan,Manhattan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6425,2019-03-07 15:34:00,2019-03-07 16:31:00,1,9.12,26.32,0.00,0.0,26.82,green,credit card,Park Slope,East New York,Brooklyn,Brooklyn
6426,2019-03-28 08:04:00,2019-03-28 08:07:00,1,0.71,4.50,0.50,0.0,5.80,green,credit card,Central Park,Upper West Side North,Manhattan,Manhattan
6428,2019-03-31 09:51:00,2019-03-31 09:55:00,1,0.75,4.50,1.06,0.0,6.36,green,credit card,East Harlem North,Central Harlem North,Manhattan,Manhattan
6429,2019-03-31 17:38:00,2019-03-31 18:34:00,1,18.74,58.00,0.00,0.0,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx
6431,2019-03-04 10:09:00,2019-03-04 10:14:00,1,1.12,6.00,0.00,0.0,6.80,green,credit card,East New York,East Flatbush/Remsen Village,Brooklyn,Brooklyn

There are other ways of doing queries without using the query function. For example, with [] notation:

In [18]:
df2[df2['fare']>20]

,pickup,dropoff,passengers,distance,fare,tip,tolls,total,color,payment,pickup_zone,dropoff_zone,pickup_borough,dropoff_borough
3,2019-03-10 01:23:00,2019-03-10 01:49:00,1,7.70,27.00,6.15,0.00,36.95,yellow,credit card,Hudson Sq,Yorkville West,Manhattan,Manhattan
22,2019-03-28 17:20:00,2019-03-28 17:55:00,1,9.82,31.50,8.31,5.76,49.87,yellow,credit card,LaGuardia Airport,Sutton Place/Turtle Bay North,Queens,Manhattan
37,2019-03-21 18:41:00,2019-03-21 19:15:00,1,3.13,20.50,0.00,0.00,24.80,yellow,cash,Lenox Hill East,Garment District,Manhattan,Manhattan
40,2019-03-07 15:15:00,2019-03-07 15:50:00,1,7.51,27.00,6.06,0.00,36.36,yellow,credit card,Flatiron,Carroll Gardens,Manhattan,Brooklyn
42,2019-03-30 23:59:00,2019-03-30 23:59:00,1,0.00,80.00,20.08,0.00,100.38,yellow,credit card,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6416,2019-03-19 17:27:00,2019-03-19 18:41:00,1,7.93,21.08,0.00,0.00,21.88,green,credit card,Bushwick South,Marine Park/Mill Basin,Brooklyn,Brooklyn
6417,2019-03-10 12:10:00,2019-03-10 12:43:00,2,11.17,35.00,0.00,5.76,41.56,green,credit card,Hillcrest/Pomonok,Flatiron,Queens,Manhattan
6421,2019-03-24 09:07:00,2019-03-24 09:36:00,6,10.23,33.00,0.00,0.00,33.80,green,credit card,East Flatbush/Farragut,South Ozone Park,Brooklyn,Queens
6425,2019-03-07 15:34:00,2019-03-07 16:31:00,1,9.12,26.32,0.00,0.00,26.82,green,credit card,Park Slope,East New York,Brooklyn,Brooklyn
6429,2019-03-31 17:38:00,2019-03-31 18:34:00,1,18.74,58.00,0.00,0.00,58.80,green,credit card,Jamaica,East Concourse/Concourse Village,Queens,Bronx

Inside the brackets, **df2['fare']>20** creates a data series of boolean **True** and **False** elements. \
**True** where the fare is greater than 20, and **False** where it isn't. \
Then, the rows of df2 where the condition is **True** are selected. 

It's possible to combine multiple conditions using **[]** notation. Below is a more complex example using datetime objects. Can you describe in a sentence what this functoon is doing?

In [19]:
df2[(df2['fare']>20) &
    (df2['pickup']>=dt.datetime(2019,11,1)) & 
    (df2['pickup']<=dt.datetime(2020,1,31))]

Empty DataFrame
Columns: [pickup, dropoff, passengers, distance, fare, tip, tolls, total, color, payment, pickup_zone, dropoff_zone, pickup_borough, dropoff_borough]
Index: []

### Saving Subsets
If you want to save the subset of data for future use you can either make a copy or a view.  

***df_copy = df2[(df2['fare']>20)].copy()***  #this is a copy  

***df_copy = df2[(df2['fare']>20)]*** #this is a view
  
Changes you make to a 'view' can affect the original data source (and vice versa), but a 'copy' has no link to the original data. This is the difference between a 'view' and a 'copy'. So, it's always safest to use 'copy'.

In [20]:
# Let's make a copy of this subset of data for future use.
df3 = df2[(df2['fare']>20) &
          (df2['pickup']>=dt.datetime(2019,11,1)) &
          (df2['pickup']<=dt.datetime(2020,1,31))].copy() #making a copy
df3 = df3.reset_index() #resetting the index column
df3

Empty DataFrame
Columns: [index, pickup, dropoff, passengers, distance, fare, tip, tolls, total, color, payment, pickup_zone, dropoff_zone, pickup_borough, dropoff_borough]
Index: []

### Transforming Data
Once you've loaded your data you can always modify it further by adding new data, or transforming existing data.  
  
This might mean creating new data from old, such as working out the average fair per passenger and storing it into a new column:

In [21]:
df3['avg_fair']=df3['total']/df3['passengers']
df3

Empty DataFrame
Columns: [index, pickup, dropoff, passengers, distance, fare, tip, tolls, total, color, payment, pickup_zone, dropoff_zone, pickup_borough, dropoff_borough, avg_fair]
Index: []

### Exercises

1. Select a subset of rows in df2 that only contain rows where the pickup zone was Lenox Hill East. How many rows does this subset contain (hint: use the **DataFrame.size** command to find the size of the df2).
2. Experiment with other queries. Create a query that finds all rows where the number of passengers are > or equal to 2.
3. In the 'Python for Data Visualisation' module, we created a scatterplot of time spent exercising and heart rate, where the points were coloured by what kind of exercise each participant was doing. The 'exercise.csv' dataset also had information on the diets of the participants. Using Matplotlib and Pandas for subsetting, create a scatterplot of time spent exercising and heart rate, but where the points are colour by the different diets of all the participants.

## Further Reading and Reference Material

We've only just started to scratch the surface of Matplotlib and Pandas, but we're going to rapidly expand our skillset for the purposes of visualisation in the coming Modules. In the meantime both Libraries have extensive online guides([Pandas](https://pandas.pydata.org/docs/user_guide/index.html) and [Matplotlib](https://matplotlib.org/stable/index.html)).

Helpful 'cheat sheets' have also been created for both Libraries, which you can access for Matplotlib [here](https://matplotlib.org/cheatsheets/) and Pandas [here](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf).